@model EmailNotifications.ModelTemplates.AcceptedDepartureModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        LA ORDEN DE COMPRA NÚMERO @Model.NumeroOrdenCompra TIENE LAS SIGUIENTES PARTIDAS RECHAZADAS

    </p>
    @foreach(var prod in @Model.RejectedDepartures) {
        <p>
            <b>
                @prod.DepartureNumber CON MOTIVO DE RECHAZO: @prod.Error
            </b>
        </p>
    }


</body>
</html>