@model EmailNotifications.ModelTemplates.SuccessValidationPurchaseOrderModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Estimado(a): @Model.NombreCompletoUsuario

        LA ORDEN DE COMPRA: @Model.NumeroOrdenCompra, FUE PROCESADA CORRECTAMENTE.
        
    

</body>
</html>